.red{color: red;}
body{
    background-image: url(../image/nature.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}
div{
    background-color: rgba(235, 171, 171, 0.5);
    width: 80%;
    height: auto;
    margin-left: 10%;
}