table{
    border-collapse: collapse;
    border: 2px solid black;
}
th, td{
    font-size: 8px;
    width: 60px;
    height: 35px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
.MON1{
    background:skyblue
}
.TUE1{
    background: rgb(194,132,132);
}
.WEN1{
    background: burlywood;
}
.TUE2{
    background: rgb(153, 204, 191);
}
.WEN2{
    background: rgb(88, 122, 173);
}
.THUR1{
    background: rgb(214, 213, 151);
}
.THUR2{
    background: coral;
}
</style> 
